
@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<form asp-controller="AirController" asp-action="HotelSearch" method="post">
    <!-- Input and Submit elements -->
    Hotel Location:  <input name="hotelLocation" asp-for="text" /> <br />
    Current Location:  <input name="currentLocation" asp-for="text" /> <br />
    No. of People:  <input name="noOfPeople" asp-for="number" /> <br />
    No. of Rooms:  <input name="noOfRooms" asp-for="number" /> <br />
    <button type="submit">Search</button>
</form>