
@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<form action="/Air/AirSearch" method="post">
    <!-- Input and Submit elements -->
    Source:  <input name="sourceLocation" type="text" /> <br />
    Destination:  <input name="destinationLocation" type="text" /> <br />
    <button type="submit">Search</button>
</form>