
@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<form action="/Air/HotelSearch" method="post">
    <!-- Input and Submit elements -->
    Hotel Location:  <input name="hotelLocation" type="text" /> <br />
    Current Location:  <input name="currentLocation" type="text" /> <br />
    No. of People:  <input name="noOfPeople" type="number" /> <br />
    No. of Rooms:  <input name="noOfRooms" type="number" /> <br />
    <button type="submit">Search</button>
</form>