
@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 form-div">
        <form action="/Air/AirSearch" method="post" class="form-horizontal">
            <div class="row form-group">
                <div class="col-md-6">
                    <label class="form-label" for="Origin">From :</label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" title="This field corresponds to /SearchAirLeg/SearchOrigin/CityOrAirport/Code in the LowFareSearchReq call." id="origin" name="Origin" type="text" placeholder="From" autocomplete="off">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-6">
                    <label class="form-label" for="Destination">To :</label>
                </div>
                <div class="col-md-6">
                    <input id="Destination" class="form-control" title="This field corresponds to /SearchAirLeg/SearchDestination/CityOrAirport/Code in the LowFareSearchReq call." name="Destination" type="text" placeholder="To" autocomplete="off">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-6">
                    <label class="form-label" for="From">Departure :</label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" id="From" name="From" placeholder="Departure" title="This field corresponds to /SearchAirLeg/SearchDepTime/PreferredTime in the LowFareSearchReq call." type="text" value="">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-6">
                    <label class="form-label" for="To">Return :</label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" id="To" name="To" placeholder="Return" title="This field corresponds to /SearchAirLeg[1]/SearchDepTime/PreferredTime in the LowFareSearchReq call." type="text" value="">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-6">
                    <label class="form-label" for="Adults">Adults :</label>
                </div>
                <div class="col-md-6">
                    <select id="searchcmbAdults" class="form-control">
                        <option selected="selected" value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                    </select>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-6">
                    <label class="form-label" for="Childrens">Child (2-12) :</label>
                </div>
                <div class="col-md-6">
                    <select id="searchcmbChildrens" class="form-control">
                        <option selected="selected" value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                    </select>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-6">
                    <label class="form-label" for="Infants">Infants (0-2) :</label>
                </div>
                <div class="col-md-6">
                    <select id="searchcmbInfants" class="form-control">
                        <option selected="selected" value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                    </select>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-6">
                    <label class="form-label" for="Gds">Travelport System :</label>
                </div>
                <div class="col-md-6">
                    <select class="form-control" id="Gds" name="Gds">
                        <option selected="selected" value="0">Galileo</option>
                        <option value="1">Apollo</option>
                        <option value="2">Worldspan</option>
                    </select>
                </div>
            </div></br></br>

            <div class="row form-group">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-danger pull-right">Cancel</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>