<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- Added configuration for Travelport api. -->
    <add key="Username" value="Universal API/uAPI2450753000-94358a13" />
    <add key="Password" value="3o%BwQ9{4i" />
    <add key="1GTargetBranch" value="P7085688" />
    <add key="1PTargetBranch" value="your 1P targetBranch/WAB received in travelport welcome letter" />
    <add key="1VTargetBranch" value="your 1V targetBranch/WAB received in travelport welcome letter" />
    <add key="TRMTargetBranch" value="your TRM targetBranch/WAB received in travelport welcome letter" />
    <add key="originApp" value="UAPI"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AirRepriceSearchBinding" />
        <binding name="AirScheduleSearchBinding" />
        <binding name="AirLowFareSearchBinding" />
        <binding name="AirLowFareSearchAsynchBinding" />
        <binding name="AirRetrieveLowFareSearchBinding" />
        <binding name="AirPriceBinding" />
        <binding name="AirFareRulesBinding" />
        <binding name="AirAvailabilitySearchBinding" />
        <binding name="AirFareDisplayBinding" />
        <binding name="SeatMapBinding" />
        <binding name="AirRefundQuoteBinding" />
        <binding name="AirRefundTicketBinding" />
        <binding name="AirTicketingBinding" />
        <binding name="AirVoidDocumentBinding" />
        <binding name="AirRetrieveDocumentBinding" />
        <binding name="AirExchangeProcessBinding" />
        <binding name="AirExchangeQuoteBinding" />
        <binding name="AirExchangeTicketingBinding" />
        <binding name="AirMerchandisingOfferAvailabilityBinding" />
        <binding name="AirUpsellSearchBinding" />
        <binding name="FlightTimeTableBinding" />
        <binding name="AirPrePayBinding" />
        <binding name="EMDRetrieveBinding" />
        <binding name="EMDIssuanceBinding" />
        <binding name="AirMerchandisingDetailsBinding" />
        <binding name="FlightInfoBinding" />
        <binding name="FlightDetailsBinding" />
        <binding name="HotelSearchServiceBinding" />
        <binding name="HotelMediaLinksServiceBinding" />
        <binding name="HotelDetailsServiceBinding" />
        <binding name="HotelRetrieveServiceBinding" />
        <binding name="HotelRulesServiceBinding" />
        <binding name="HotelUpsellSearchServiceBinding" />
        <binding name="HotelSearchAvailabilityAsynchServiceBinding" />
        <binding name="HotelKeywordsServiceBinding" />
        <binding name="HotelSuperShopperServiceBinding" />
        <binding name="RetrieveHotelSearchAvailabilityServiceBinding" />
        <binding name="ExternalCacheAccessBinding" />
        <binding name="SystemPingBinding" />
        <binding name="SystemInfoBinding" />
        <binding name="SystemTimeBinding" />
        <binding name="UniversalRecordRetrieveServiceBinding" />
        <binding name="UniversalRecordHistorySearchServiceBinding" />
        <binding name="UniversalRecordSearchServiceBinding" />
        <binding name="AckScheduleChangeServiceBinding" />
        <binding name="UniversalRecordImportServiceBinding" />
        <binding name="UniversalRecordModifyServiceBinding" />
        <binding name="UniversalRecordCancelServiceBinding" />
        <binding name="ProviderReservationDisplayServiceBinding" />
        <binding name="ProviderReservationDivideServiceBinding" />
        <binding name="SavedTripCreateServiceBinding" />
        <binding name="SavedTripModifyServiceBinding" />
        <binding name="SavedTripRetrieveServiceBinding" />
        <binding name="SavedTripDeleteServiceBinding" />
        <binding name="SavedTripSearchServiceBinding" />
        <binding name="VehicleReservationServiceBinding" />
        <binding name="VehicleCancelServiceBinding" />
        <binding name="HotelReservationServiceBinding" />
        <binding name="HotelCancelServiceBinding" />
        <binding name="RailCreateReservationBinding" />
        <binding name="AirCreateReservationBinding" />
        <binding name="AirCancelBinding" />
        <binding name="AirMerchandisingFulfillmentBinding" />
        <binding name="PassiveReservationServiceBinding" />
        <binding name="PassiveCancelServiceBinding" />
        <binding name="UtilCreditCardAuthBinding" />
        <binding name="McoCreateAgencyFeeBinding" />
        <binding name="McoVoidBinding" />
        <binding name="McoSearchBinding" />
        <binding name="ReportRetrieveBinding" />
        <binding name="MctCountBinding" />
        <binding name="MctLookupBinding" />
        <binding name="CalculateTaxBinding" />
        <binding name="UpsellAdminBinding" />
        <binding name="BrandedFareAdminBinding" />
        <binding name="BrandedFareSearchBinding" />
        <binding name="UpsellAdminSearchBinding" />
        <binding name="ContentProviderRetrieveBinding" />
        <binding name="UtilCurrencyConversionBinding" />
        <binding name="ReferenceDataRetrieveBinding" />
        <binding name="ReferenceDataLookupBinding" />
        <binding name="ReferenceDataUpdateBinding" />
        <binding name="AgencyCreateServiceFeeBinding" />
        <binding name="FindEmployeesOnFlightServiceBinding" />
        <binding name="VehicleSearchServiceBinding" />
        <binding name="VehicleRetrieveServiceBinding" />
        <binding name="VehicleLocationDetailBinding" />
        <binding name="VehicleRulesServiceBinding" />
        <binding name="VehicleKeywordsServiceBinding" />
        <binding name="VehicleLocationServiceBinding" />
        <binding name="VehicleUpsellSearchServiceBinding" />
        <binding name="VehicleMediaLinksServiceBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="basicHttpBinding" bindingConfiguration="AirRepriceSearchBinding"
        contract="AirService.AirRepriceSearchPortType" name="AirRepriceSearchPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="basicHttpBinding" bindingConfiguration="AirScheduleSearchBinding"
        contract="AirService.AirScheduleSearchPortType" name="AirScheduleSearchPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="basicHttpBinding" bindingConfiguration="AirLowFareSearchBinding"
        contract="AirService.AirLowFareSearchPortType" name="AirLowFareSearchPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="basicHttpBinding" bindingConfiguration="AirLowFareSearchAsynchBinding"
        contract="AirService.AirLowFareSearchAsynchPortType" name="AirLowFareSearchAsynchPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="basicHttpBinding" bindingConfiguration="AirRetrieveLowFareSearchBinding"
        contract="AirService.AirRetrieveLowFareSearchPortType" name="AirRetrieveLowFareSearchPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="basicHttpBinding" bindingConfiguration="AirPriceBinding"
        contract="AirService.AirPricePortType" name="AirPricePort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="basicHttpBinding" bindingConfiguration="AirFareRulesBinding"
        contract="AirService.AirFareRulesPortType" name="AirFareRulesPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="basicHttpBinding" bindingConfiguration="AirAvailabilitySearchBinding"
        contract="AirService.AirAvailabilitySearchPortType" name="AirAvailabilitySearchPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="basicHttpBinding" bindingConfiguration="AirFareDisplayBinding"
        contract="AirService.AirFareDisplayPortType" name="AirFareDisplayPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="basicHttpBinding" bindingConfiguration="SeatMapBinding"
        contract="AirService.SeatMapPortType" name="SeatMapPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="basicHttpBinding" bindingConfiguration="AirRefundQuoteBinding"
        contract="AirService.AirRefundQuotePortType" name="AirRefundQuotePort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="basicHttpBinding" bindingConfiguration="AirRefundTicketBinding"
        contract="AirService.AirRefundTicketPortType" name="AirRefundTicketPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="basicHttpBinding" bindingConfiguration="AirTicketingBinding"
        contract="AirService.AirTicketingPortType" name="AirTicketingPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="basicHttpBinding" bindingConfiguration="AirVoidDocumentBinding"
        contract="AirService.AirVoidDocumentPortType" name="AirVoidDocumentPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="basicHttpBinding" bindingConfiguration="AirRetrieveDocumentBinding"
        contract="AirService.AirRetrieveDocumentPortType" name="AirRetrieveDocumentBindingPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="basicHttpBinding" bindingConfiguration="AirExchangeProcessBinding"
        contract="AirService.AirExchangeProcessPortType" name="AirExchangeProcessPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="basicHttpBinding" bindingConfiguration="AirExchangeQuoteBinding"
        contract="AirService.AirExchangeQuotePortType" name="AirExchangeQuotePort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="basicHttpBinding" bindingConfiguration="AirExchangeTicketingBinding"
        contract="AirService.AirExchangeTicketingPortType" name="AirExchangeTicketingPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="basicHttpBinding" bindingConfiguration="AirMerchandisingOfferAvailabilityBinding"
        contract="AirService.AirMerchandisingOfferAvailabilityPortType"
        name="AirMerchandisingOfferAvailabilityPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="basicHttpBinding" bindingConfiguration="AirUpsellSearchBinding"
        contract="AirService.AirUpsellSearchPortType" name="AirUpsellSearchPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="basicHttpBinding" bindingConfiguration="FlightTimeTableBinding"
        contract="AirService.FlightTimeTablePortType" name="FlightTimeTablePort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="basicHttpBinding" bindingConfiguration="AirPrePayBinding"
        contract="AirService.AirPrePayPortType" name="AirPrePayPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="basicHttpBinding" bindingConfiguration="EMDRetrieveBinding"
        contract="AirService.EMDRetrievePortType" name="EMDRetrievePort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="basicHttpBinding" bindingConfiguration="EMDIssuanceBinding"
        contract="AirService.EMDIssuancePortType" name="EMDIssuancePort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="basicHttpBinding" bindingConfiguration="AirMerchandisingDetailsBinding"
        contract="AirService.AirMerchandisingDetailsPortType" name="AirMerchandisingDetailsPort" />
      <endpoint address="http://localhost:8080/kestrel/FlightService"
        binding="basicHttpBinding" bindingConfiguration="FlightInfoBinding"
        contract="AirService.FlightInfoPortType" name="FlightInfoPort" />
      <endpoint address="http://localhost:8080/kestrel/FlightService"
        binding="basicHttpBinding" bindingConfiguration="FlightDetailsBinding"
        contract="AirService.FlightDetailsPortType" name="FlightDetailsPort" />
      <endpoint address="http://localhost:8080/kestrel/HotelService"
        binding="basicHttpBinding" bindingConfiguration="HotelSearchServiceBinding"
        contract="HotelService.HotelSearchServicePortType" name="HotelSearchServicePort" />
      <endpoint address="http://localhost:8080/kestrel/HotelService"
        binding="basicHttpBinding" bindingConfiguration="HotelMediaLinksServiceBinding"
        contract="HotelService.HotelMediaLinksServicePortType" name="HotelMediaLinksServicePort" />
      <endpoint address="http://localhost:8080/kestrel/HotelService"
        binding="basicHttpBinding" bindingConfiguration="HotelDetailsServiceBinding"
        contract="HotelService.HotelDetailsServicePortType" name="HotelDetailsServicePort" />
      <endpoint address="http://localhost:8080/kestrel/HotelService"
        binding="basicHttpBinding" bindingConfiguration="HotelRetrieveServiceBinding"
        contract="HotelService.HotelRetrieveServicePortType" name="HotelRetrieveServicePort" />
      <endpoint address="http://localhost:8080/kestrel/HotelService"
        binding="basicHttpBinding" bindingConfiguration="HotelRulesServiceBinding"
        contract="HotelService.HotelRulesServicePortType" name="HotelRulesServicePort" />
      <endpoint address="http://localhost:8080/kestrel/HotelService"
        binding="basicHttpBinding" bindingConfiguration="HotelUpsellSearchServiceBinding"
        contract="HotelService.HotelUpsellSearchServicePortType" name="HotelUpsellSearchServicePort" />
      <endpoint address="http://localhost:8080/kestrel/HotelService"
        binding="basicHttpBinding" bindingConfiguration="HotelSearchAvailabilityAsynchServiceBinding"
        contract="HotelService.HotelSearchAvailabilityAsynchServicePortType"
        name="HotelSearchAvailabilityAsynchServicePort" />
      <endpoint address="http://localhost:8080/kestrel/HotelService"
        binding="basicHttpBinding" bindingConfiguration="HotelKeywordsServiceBinding"
        contract="HotelService.HotelKeywordsServicePortType" name="HotelKeywordsServicePort" />
      <endpoint address="http://localhost:8080/kestrel/HotelService"
        binding="basicHttpBinding" bindingConfiguration="HotelSuperShopperServiceBinding"
        contract="HotelService.HotelSuperShopperServicePortType" name="HotelSuperShopperServicePort" />
      <endpoint address="http://localhost:8080/kestrel/HotelService "
        binding="basicHttpBinding" bindingConfiguration="RetrieveHotelSearchAvailabilityServiceBinding"
        contract="HotelService.RetrieveHotelSearchAvailabilityServicePortType"
        name="RetrieveHotelSearchAvailabilityServicePort" />
      <endpoint address="http://localhost:8080/kestrel/ExternalCacheAccessService"
        binding="basicHttpBinding" bindingConfiguration="ExternalCacheAccessBinding"
        contract="SystemService.ExternalCacheAccessPortType" name="ExternalCacheAccessPort" />
      <endpoint address="http://localhost:8080/kestrel/SystemService"
        binding="basicHttpBinding" bindingConfiguration="SystemPingBinding"
        contract="SystemService.SystemPingPortType" name="SystemPingPort" />
      <endpoint address="http://localhost:8080/kestrel/SystemService"
        binding="basicHttpBinding" bindingConfiguration="SystemInfoBinding"
        contract="SystemService.SystemInfoPortType" name="SystemInfoPort" />
      <endpoint address="http://localhost:8080/kestrel/SystemService"
        binding="basicHttpBinding" bindingConfiguration="SystemTimeBinding"
        contract="SystemService.SystemTimePortType" name="SystemtimePort" />
      <endpoint address="http://localhost:8080/kestrel/UniversalRecordService"
        binding="basicHttpBinding" bindingConfiguration="UniversalRecordRetrieveServiceBinding"
        contract="UniversalService.UniversalRecordRetrieveServicePortType"
        name="UniversalRecordRetrieveServicePort" />
      <endpoint address="http://localhost:8080/kestrel/UniversalRecordHistorySearchService"
        binding="basicHttpBinding" bindingConfiguration="UniversalRecordHistorySearchServiceBinding"
        contract="UniversalService.UniversalRecordHistorySearchPortType"
        name="UniversalRecordHistorySearchServicePort" />
      <endpoint address="http://localhost:8080/kestrel/UniversalRecordService"
        binding="basicHttpBinding" bindingConfiguration="UniversalRecordSearchServiceBinding"
        contract="UniversalService.UniversalRecordSearchServicePortType"
        name="UniversalRecordSearchServicePort" />
      <endpoint address="http://localhost:8080/kestrel/ScheduleChangeService"
        binding="basicHttpBinding" bindingConfiguration="AckScheduleChangeServiceBinding"
        contract="UniversalService.AckScheduleChangeServicePortType"
        name="AckScheduleChangeServicePort" />
      <endpoint address="http://localhost:8080/kestrel/UniversalRecordService"
        binding="basicHttpBinding" bindingConfiguration="UniversalRecordImportServiceBinding"
        contract="UniversalService.UniversalRecordImportServicePortType"
        name="UniversalRecordImportServicePort" />
      <endpoint address="http://localhost:8080/kestrel/UniversalRecordService"
        binding="basicHttpBinding" bindingConfiguration="UniversalRecordModifyServiceBinding"
        contract="UniversalService.UniversalRecordModifyServicePortType"
        name="UniversalRecordModifyServicePort" />
      <endpoint address="http://localhost:8080/kestrel/UniversalRecordService"
        binding="basicHttpBinding" bindingConfiguration="UniversalRecordCancelServiceBinding"
        contract="UniversalService.UniversalRecordCancelServicePortType"
        name="UniversalRecordCancelServicePort" />
      <endpoint address="http://localhost:8080/kestrel/ProviderReservationDisplayService"
        binding="basicHttpBinding" bindingConfiguration="ProviderReservationDisplayServiceBinding"
        contract="UniversalService.ProviderReservationDisplayServicePortType"
        name="ProviderReservationDisplayServicePort" />
      <endpoint address="http://localhost:8080/kestrel/UniversalRecordService"
        binding="basicHttpBinding" bindingConfiguration="ProviderReservationDivideServiceBinding"
        contract="UniversalService.ProviderReservationDivideServicePortType"
        name="ProviderReservationDivideServicePort" />
      <endpoint address="http://localhost:8080/kestrel/SavedTripCreateService"
        binding="basicHttpBinding" bindingConfiguration="SavedTripCreateServiceBinding"
        contract="UniversalService.SavedTripCreateServicePortType" name="SavedTripCreateServicePort" />
      <endpoint address="http://localhost:8080/kestrel/SavedTripModifyService"
        binding="basicHttpBinding" bindingConfiguration="SavedTripModifyServiceBinding"
        contract="UniversalService.SavedTripModifyServicePortType" name="SavedTripModifyServicePort" />
      <endpoint address="http://localhost:8080/kestrel/SavedTripRetrieveService"
        binding="basicHttpBinding" bindingConfiguration="SavedTripRetrieveServiceBinding"
        contract="UniversalService.SavedTripRetrieveServicePortType"
        name="SavedTripRetrieveServicePort" />
      <endpoint address="http://localhost:8080/kestrel/SavedTripDeleteService"
        binding="basicHttpBinding" bindingConfiguration="SavedTripDeleteServiceBinding"
        contract="UniversalService.SavedTripDeleteServicePortType" name="SavedTripDeleteServicePort" />
      <endpoint address="http://localhost:8080/kestrel/SavedTripSearchService"
        binding="basicHttpBinding" bindingConfiguration="SavedTripSearchServiceBinding"
        contract="UniversalService.SavedTripSearchServicePortType" name="SavedTripSearchServicePort" />
      <endpoint address="http://localhost:8080/kestrel/VehicleService"
        binding="basicHttpBinding" bindingConfiguration="VehicleReservationServiceBinding"
        contract="UniversalService.VehicleReservationServicePortType"
        name="VehicleReservationServicePort" />
      <endpoint address="http://localhost:8080/kestrel/VehicleService"
        binding="basicHttpBinding" bindingConfiguration="VehicleCancelServiceBinding"
        contract="UniversalService.VehicleCancelServicePortType" name="VehicleCancelServicePort" />
      <endpoint address="http://localhost:8080/kestrel/HotelService"
        binding="basicHttpBinding" bindingConfiguration="HotelReservationServiceBinding"
        contract="UniversalService.HotelReservationServicePortType"
        name="HotelReservationServicePort" />
      <endpoint address="http://localhost:8080/kestrel/HotelService"
        binding="basicHttpBinding" bindingConfiguration="HotelCancelServiceBinding"
        contract="UniversalService.HotelCancelServicePortType" name="HotelCancelServicePort" />
      <endpoint address="http://localhost:8080/kestrel/RailService"
        binding="basicHttpBinding" bindingConfiguration="RailCreateReservationBinding"
        contract="UniversalService.RailCreateReservationPortType" name="RailCreateReservationPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="basicHttpBinding" bindingConfiguration="AirCreateReservationBinding"
        contract="UniversalService.AirCreateReservationPortType" name="AirCreateReservationPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="basicHttpBinding" bindingConfiguration="AirCancelBinding"
        contract="UniversalService.AirCancelPortType" name="AirCancelPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="basicHttpBinding" bindingConfiguration="AirMerchandisingFulfillmentBinding"
        contract="UniversalService.AirMerchandisingFulfillmentPortType"
        name="AirMerchandisingFulfillmentPort" />
      <endpoint address="http://localhost:8080/kestrel/PassiveService"
        binding="basicHttpBinding" bindingConfiguration="PassiveReservationServiceBinding"
        contract="UniversalService.PassiveReservationServicePortType"
        name="PassiveReservationServicePort" />
      <endpoint address="http://localhost:8080/kestrel/PassiveService"
        binding="basicHttpBinding" bindingConfiguration="PassiveCancelServiceBinding"
        contract="UniversalService.PassiveCancelServicePortType" name="PassiveCancelServicePort" />
      <endpoint address="http://localhost:8080/kestrel/CreditCardAuthorizationService"
        binding="basicHttpBinding" bindingConfiguration="UtilCreditCardAuthBinding"
        contract="UtilService.UtilCreditCardAuthPortType" name="UtilCreditCardAuthPort" />
      <endpoint address="http://localhost:8080/kestrel/UtilService"
        binding="basicHttpBinding" bindingConfiguration="McoCreateAgencyFeeBinding"
        contract="UtilService.McoCreateAgencyFeePortType" name="McoCreateAgencyFeePort" />
      <endpoint address="http://localhost:8080/kestrel/UtilService"
        binding="basicHttpBinding" bindingConfiguration="McoVoidBinding"
        contract="UtilService.McoVoidPortType" name="McoVoidPort" />
      <endpoint address="http://localhost:8080/kestrel/UtilService"
        binding="basicHttpBinding" bindingConfiguration="McoSearchBinding"
        contract="UtilService.McoSearchPortType" name="McoSearchPort" />
      <endpoint address="http://localhost:8080/kestrel/UtilService"
        binding="basicHttpBinding" bindingConfiguration="ReportRetrieveBinding"
        contract="UtilService.ReportRetrievePortType" name="ReportRetrievePort" />
      <endpoint address="http://localhost:8080/kestrel/UtilService"
        binding="basicHttpBinding" bindingConfiguration="MctCountBinding"
        contract="UtilService.MctCountPortType" name="MctCountPort" />
      <endpoint address="http://localhost:8080/kestrel/UtilService"
        binding="basicHttpBinding" bindingConfiguration="MctLookupBinding"
        contract="UtilService.MctLookupPortType" name="MctLookupPort" />
      <endpoint address="http://localhost:8080/kestrel/UtilService"
        binding="basicHttpBinding" bindingConfiguration="CalculateTaxBinding"
        contract="UtilService.CalculateTaxPortType" name="CalculateTaxPort" />
      <endpoint address="http://localhost:8080/kestrel/UpsellAdminService"
        binding="basicHttpBinding" bindingConfiguration="UpsellAdminBinding"
        contract="UtilService.UpsellAdminPortType" name="UpsellAdminPort" />
      <endpoint address="http://localhost:8080/kestrel/BrandedFareService"
        binding="basicHttpBinding" bindingConfiguration="BrandedFareAdminBinding"
        contract="UtilService.BrandedFareAdminPortType" name="BrandedFareAdminPort" />
      <endpoint address="http://localhost:8080/kestrel/BrandedFareService"
        binding="basicHttpBinding" bindingConfiguration="BrandedFareSearchBinding"
        contract="UtilService.BrandedFareSearchPortType" name="BrandedFareSearchPort" />
      <endpoint address="http://localhost:8080/kestrel/UpsellAdminSearchService"
        binding="basicHttpBinding" bindingConfiguration="UpsellAdminSearchBinding"
        contract="UtilService.UpsellAdminSearchPortType" name="UpsellAdminSearchPort" />
      <endpoint address="http://localhost:8080/kestrel/UtilService"
        binding="basicHttpBinding" bindingConfiguration="ContentProviderRetrieveBinding"
        contract="UtilService.ContentProviderRetrievePortType" name="ContentProviderRetrievePort" />
      <endpoint address="http://localhost:8080/kestrel/CurrencyConversionService"
        binding="basicHttpBinding" bindingConfiguration="UtilCurrencyConversionBinding"
        contract="UtilService.UtilCurrencyConversionPortType" name="UtilCurrencyConversionPort" />
      <endpoint address="http://localhost:8080/kestrel/UtilService"
        binding="basicHttpBinding" bindingConfiguration="ReferenceDataRetrieveBinding"
        contract="UtilService.ReferenceDataRetrievePortType" name="ReferenceDataRetrievePort" />
      <endpoint address="http://localhost:8080/kestrel/ReferenceDataLookupService"
        binding="basicHttpBinding" bindingConfiguration="ReferenceDataLookupBinding"
        contract="UtilService.ReferenceDataLookupPortType" name="ReferenceDataLookupPort" />
      <endpoint address="http://localhost:8080/kestrel/UtilService"
        binding="basicHttpBinding" bindingConfiguration="ReferenceDataUpdateBinding"
        contract="UtilService.ReferenceDataUpdatePortType" name="ReferenceDataUpdatePort" />
      <endpoint address="http://localhost:8080/kestrel/AgencyFeeService"
        binding="basicHttpBinding" bindingConfiguration="AgencyCreateServiceFeeBinding"
        contract="UtilService.AgencyCreateServiceFeePortType" name="TravelAgencyFeePort" />
      <endpoint address="http://localhost:8080/kestrel/FindEmployeesOnFlightService"
        binding="basicHttpBinding" bindingConfiguration="FindEmployeesOnFlightServiceBinding"
        contract="UtilService.FindEmployeesOnFlightServicePortType"
        name="FindEmployeesOnFlightServicePort" />
      <endpoint address="http://localhost:8080/kestrel/VehicleService"
        binding="basicHttpBinding" bindingConfiguration="VehicleSearchServiceBinding"
        contract="VechileService.VehicleSearchServicePortType" name="VehicleSearchServicePort" />
      <endpoint address="http://localhost:8080/kestrel/VehicleService"
        binding="basicHttpBinding" bindingConfiguration="VehicleRetrieveServiceBinding"
        contract="VechileService.VehicleRetrieveServicePortType" name="VehicleRetrieveServicePort" />
      <endpoint address="http://localhost:8080/kestrel/VehicleService"
        binding="basicHttpBinding" bindingConfiguration="VehicleLocationDetailBinding"
        contract="VechileService.VehicleLocationDetailServicePortType"
        name="VehicleLocationDetailServicePort" />
      <endpoint address="http://localhost:8080/kestrel/VehicleService"
        binding="basicHttpBinding" bindingConfiguration="VehicleRulesServiceBinding"
        contract="VechileService.VehicleRulesServicePortType" name="VehicleRulesServicePort" />
      <endpoint address="http://localhost:8080/kestrel/VehicleService"
        binding="basicHttpBinding" bindingConfiguration="VehicleKeywordsServiceBinding"
        contract="VechileService.VehicleKeywordsServicePortType" name="VehicleKeywordsServicePort" />
      <endpoint address="http://localhost:8080/kestrel/VehicleService"
        binding="basicHttpBinding" bindingConfiguration="VehicleLocationServiceBinding"
        contract="VechileService.VehicleLocationServicePortType" name="VehicleLocationServicePort" />
      <endpoint address="http://localhost:8080/kestrel/VehicleService"
        binding="basicHttpBinding" bindingConfiguration="VehicleUpsellSearchServiceBinding"
        contract="VechileService.VehicleUpsellSearchServicePortType"
        name="VehicleUpsellSearchServicePort" />
      <endpoint address="http://localhost:8080/kestrel/VehicleService"
        binding="basicHttpBinding" bindingConfiguration="VehicleMediaLinksServiceBinding"
        contract="VechileService.VehicleMediaLinksServicePortType" name="VehicleMediaLinksServicePort" />
    </client>
  </system.serviceModel>
</configuration>
